@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

html,body {margin:0;padding:0;height:100vh;width:100vw;}


body{
	background-color: white;
}


.optionText a {
	color:#6ddedc;
 	text-decoration: none;
}
.optionText a:hover {
	color:#f2e338;
}
.header {
	/*z-index: 1;*/
	position:fixed;
	background-color:#5189e8;
	width:100%;
	height:200px;
}

.hoverArea{
	width:100%;
	height:100%;
}

.headerCoverHeader{
	width: 0%;
	height: 200px;
	position:absolute;
	background-color: #03b6fc;
	transition: all linear 1s;
	transition-timing-function: ease-out;
}

#headerText{
	bottom: 0px;
	width:100%%;
	position: absolute;
	font-family: 'Blinker', sans-serif;
	font-size:52px;
	color:#d45cf2;
	letter-spacing:default;
}

.hoverArea:hover .headerCoverHeader{
	width:100%;
	letter-spacing: 8em;
}

.content {
	position:absolute;
	background-color:white;
	top:200px;
	width:100%;
	height:100vh;
}

.optionHolder {
    position: fixed;

    /*go with fixed for now*/
    width: auto;
    height: 1em;
    left:10%;
}

.option{
	font-size:52px;
	height:1em;
	width:700px;
	border-style:solid;

	border-left-color:black;
	border-right-color:black;
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-width:2px;
}

.optionText {
	font-family: 'Blinker', sans-serif;
	font-size:52px;
}

.hoverCover{
	width:0%;
	height:100%;
	background-color:#a1cdd1;
	transition:all linear .5s;
	transition-timing-function:ease-in;
}

.hoverArea:hover .hoverCover{
	width:700px;
	letter-spacing: 2em;
}



@keyframes footerExpand{
	
	0%{
		width:0vw;
		margin-left:100%;
		color:white;
	}

	100%{
		width:100vw;
		margin-left:0%;
		color:black;
	}
}

.footer{
	width:100vw;
	margin-left:0%;
	color:black;
	height: 400px;
	top:500px;

	text-align:right;
	animation-name: footerExpand;
	
	animation-duration: 1s; 
	animation-iteration-count: 1;
	border-style:solid;
	border-left-color:#748bb0;
	border-right-color:transparent;
	border-top-color:#748bb0;
	border-bottom-color:transparent;
	border-width:2px;
	text-align:left;
	position:fixed;
	
}

.leftRows{
	float:left;
	left:0vw;
}

.row1 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow1;
	animation-duration: 2s; 
	animation-iteration-count: 1;
}
.row2 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow2;
	animation-duration: 3s; 
	animation-iteration-count: 1;
}
.row3 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow3;
	animation-duration: 4s; 
	animation-iteration-count: 1;
}
.row4 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow4;
	animation-duration: 5s; 
	animation-iteration-count: 1;
}

.row5 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow5;
	animation-duration: 5s; 
	animation-iteration-count: 1;
}
.row6 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow6;
	animation-duration: 9s; 
	animation-iteration-count: 1;
}
.row7 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow7;
	animation-duration: 7s; 
	animation-iteration-count: 1;
}
.row8 {
	width:50vw;
	height:auto;
	opacity:1.0;
	font-size: 32px;
	color:#adb6c4;
	text-indent:50px;
	border-style:solid;
	border-color:#5b6d8a;
	border-width:3px;
	font-family: 'Blinker', sans-serif;

	animation-name: footerRow8;
	animation-duration: 15s; 
	animation-iteration-count: 1;
}


@keyframes footerRow1{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	50%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

@keyframes footerRow5{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	50%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

@keyframes footerRow2{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	50%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

@keyframes footerRow6{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	50%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}


@keyframes footerRow3{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	75%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}
@keyframes footerRow7{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	50%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

@keyframes footerRow4{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	95%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	100%{
		height:1em;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

@keyframes footerRow8{
	0%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	40%{
		height:0px;
		opacity:0;
		border-color:transparent;
		color:transparent;
	};
	45%{
		height:auto;
		opacity:1;
		border-color:#748bb0;
		color:#adb6c4;
	};
}

.expand:hover{
	background-color: #c5d0e0;
	/*font-size: 38px;*/
}

.rightRows{
	align-self:right;
	position:absolute;
	left: 50vw;
	float:right;
}

